You are provided with the following URL: http://eecs.qmul.ac.uk/~emmanouilb/income_table.html. This webpage includes a table on individuals' income and shopping habits - the same that was used in the Week 3 lab.

  1. Inspect the HTML code of the above URL, and provide a short report on the various tags present in the code. What is the function of each unique tag present in the HTML code? [0.5 marks out of 5]
  2. Using Beautiful Soup, scrape the table and convert it into a pandas dataframe. Perform data cleaning when necessary to remove extra characters (no need to handle missing values). In the report include the code that was used to scrape and convert the table and provide evidence that the table has been successfully scraped and converted (e.g. by displaying the contents of the dataframe). [1 mark out of 5]

In [ ]:
#Question 1.

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from urllib.request import urlopen
from bs4 import BeautifulSoup

#part 2 - scarpe the table and convert it into a pandas dataframe.
income_url = "http://eecs.qmul.ac.uk/~emmanouilb/income_table.html"
income_html = urlopen(income_url)  #get HTML content of the page

income_soup = BeautifulSoup(income_html,'lxml')

#create header list for data frame.
header_list = []
columns = income_soup.find_all('th')
columns_string = str(columns)
final_header = BeautifulSoup(columns_string,"lxml").get_text()
header_list.append(final_header)

df_header = pd.DataFrame(header_list)
df_header2 = df_header[0].str.split(',',expand=True)
df_header2[0] = df_header2[0].str.strip('[')
df_header2[3] = df_header2[0].str.strip(']')
display(df_header2)

#read data from all the rows.
table_list = []
rows = income_soup.find_all('tr')
for row in rows[1:]:  #ignoring header row
  row_str = str(row)
  row_value = BeautifulSoup(row_str,"lxml").get_text()
  table_list.append(row_value)

df_rows = pd.DataFrame(table_list)
df_rows2 = df_rows[0].str.split('\n',expand=True)
df_rows2.drop(0,1,inplace=True)
df_rows2.drop(5,1,inplace=True)
display(df_rows2)

df_join = pd.concat([df_header2,df_rows2])

#df2 = df_join.rename(columns=df_join.iloc[0]) # We assign the first row to be the dataframe header
#df3 = df2.drop(df2.index[0]) # We drop the replicated header from the first row of the dataframe
#display(df3)

        0     1        2       3
0  Region   Age   Income  Region

        1   2      3    4
0   India  49  86400   No
1  Brazil  32  57600  Yes
2     USA  35  64800   No
3  Brazil  43  73200   No
4     USA  45         Yes
5   India  40  69600  Yes
6  Brazil      62400   No
7   India  53  94800  Yes
8     USA  55  99600   No
9   India  42  80400  Yes

2. The list of the various MSc programmes offered by the School of EECS is provided at the following URL: http://eecs.qmul.ac.uk/postgraduate/programmes/. Perform web scraping on the table present in the above URL and convert it into a pandas dataframe that would include one row for each programme of study as shown in the webpage. The dataframe should include the following 5 columns: name of postgraduate degree programme (e.g. Advanced Electronic and Electrical Engineering), programme code for part-time study (e.g. H60C), programme code for full-time study (e.g. H60A), URL for part-time study programme details, URL for full-time study programme details. Perform data cleaning to remove unecessary characters when needed. In the report include the code that was used to scrape, convert and clean the table and provide evidence that the table has been successfully scraped (e.g. by displaying the contents of the dataframe). [1 mark out of 5]

In [ ]:
#question 2.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from urllib.request import urlopen
from bs4 import BeautifulSoup

url_mscprog = 'http://eecs.qmul.ac.uk/postgraduate/programmes/'
html_mscprog = urlopen(url_mscprog)
soup_mscprog = BeautifulSoup(html_mscprog,'lxml')

df = pd.DataFrame(columns = ['Programme','Part-time code','Full-time code','Part-time details','Full-time details'])
#display(df)

#read data from all the rows.
table_list = []
rows = soup_mscprog.find_all('tr')
#print(rows)
for row in rows[1:]:  #ignoring header row
  row_str = str(row)
  row_value = BeautifulSoup(row_str,"lxml").get_text()
  row_value = row.get_text()
  table_list.append(row_value)

df_rows = pd.DataFrame(table_list)
df_rows2 = df_rows[0].str.split('\n',expand=True)
df_rows2.drop(0,1,inplace=True)
df_rows2.drop(4,1,inplace=True)
df_rows2.columns = ['Programme','Part-time code','Full-time code']
display(df_rows2)

                                            Programme  ... Full-time code
0      Advanced Electronic and Electrical Engineering  ...           H60A
1                             Artificial Intelligence  ...          I4U1
2                                    Big Data Science  ...           H6J7
3                                      Computer Games  ...           I4U4
4                                    Computer Science  ...           G4U1
5                        Computer Science by Research  ...           G4Q1
6                   Computing and Information Systems  ...           G5U5
7   Data Science and Artificial Intelligence by Co...  ...          I4U5
8                  Electronic Engineering by Research  ...           H6T5
9                           Internet of Things (Data)  ...           I1T0
10         Machine Learning for Visual Data Analytics  ...           H6JE
11              Media and Arts Technology by Research  ...           G4Q3
12                         Sound and Music Computing   ...           H6T8
13             Telecommunication and Wireless Systems  ...           H6JA
14  Digital and Technology Solutions (Apprenticeship)  ...

[15 rows x 3 columns]